<ion-header>

  <ion-navbar>
    <ion-title>{{ 'ITEM_CREATE_TITLE' | translate }}</ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span color="primary" showWhen="ios">
          {{ 'CANCEL_BUTTON' | translate }}
        </span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <form *ngIf="form" [formGroup]="form">
    <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
    <div class="profile-image-wrapper" (click)="getPicture()">
      <div class="profile-image-placeholder" *ngIf="!this.form.controls.profilePic.value">
        <ion-icon name="add"></ion-icon>
        <div>
          {{ 'ITEM_CREATE_CHOOSE_IMAGE' | translate }}
        </div>
      </div>
      <div class="profile-image" [style.backgroundImage]="getProfileImageStyle()" *ngIf="this.form.controls.profilePic.value"></div>
    </div>
    <ion-list>
      <ion-item>
        <ion-label fixed>Name</ion-label>
        <ion-input type="text" placeholder="{{ 'EVENT_NAME_PLACEHOLDER' | translate }}"
                   formControlName="eventName"></ion-input>
      </ion-item>
      <ion-item *ngIf="!form.controls.eventName.valid && form.controls.eventName.dirty">
        <p style="font-weight: bold; color: red;">Event Name cannot be empty!</p>
      </ion-item>
      <ion-item>
        <ion-label fixed>Date</ion-label>
        <ion-datetime displayFormat="DD MMM YYYY" formControlName="eventDate"></ion-datetime>
      </ion-item>
      <ion-item *ngIf="!form.controls.eventDate.valid && form.controls.eventDate.dirty">
        <p style="font-weight: bold; color: red;">Event Date cannot be empty!</p>
      </ion-item>
      <ion-item>
        <ion-label fixed>Time</ion-label>
        <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" formControlName="eventTime"></ion-datetime>
      </ion-item>
      <ion-item *ngIf="!form.controls.eventTime.valid && form.controls.eventTime.dirty">
        <p style="font-weight: bold; color: red;">Event Time cannot be empty!</p>
      </ion-item>
      <ion-item>
        <ion-label fixed>Venue</ion-label>
        <ion-input id="venue_input" type="text" placeholder="{{ 'EVENT_VENUE_PLACEHOLDER' | translate }}"
                   formControlName="eventVenue"></ion-input>
      </ion-item>
      <ion-item *ngIf="!form.controls.eventVenue.valid && form.controls.eventVenue.dirty">
        <p style="font-weight: bold; color: red;">Event Venue cannot be empty!</p>
      </ion-item>
      <ion-item>
        <ion-label fixed>Type</ion-label>
        <ion-select formControlName="eventType">
          <ion-option value="training">Training</ion-option>
          <ion-option value="running">Running</ion-option>
          <ion-option value="crossfit">Cross Fit</ion-option>
          <ion-option value="yoga">Yoga</ion-option>
          <ion-option value="others">Others</ion-option>
        </ion-select>
      </ion-item>
      <ion-item *ngIf="!form.controls.eventType.valid && form.controls.eventType.dirty">
        <p style="font-weight: bold; color: red;">Event Type cannot be empty!</p>
      </ion-item>
      <ion-item>
        <ion-label fixed>Quota</ion-label>
        <ion-input type="number" placeholder="{{ 'EVENT_QUOTA_PLACEHOLDER' | translate }}"
                   formControlName="eventQuota"></ion-input>
      </ion-item>
      <ion-item *ngIf="!form.controls.eventQuota.valid && form.controls.eventQuota.dirty">
        <p>Event Quota cannot be empty!</p>
      </ion-item>
      <ion-item>
        <ion-label fixed>Fee</ion-label>
        <ion-input type="number" placeholder="{{ 'EVENT_FEE_PLACEHOLDER' | translate }}"
                   formControlName="eventFeeAmt"></ion-input>
      </ion-item>
      <ion-item *ngIf="!form.controls.eventFeeAmt.valid && form.controls.eventFeeAmt.dirty">
        <p>Event Fee cannot be empty!</p>
      </ion-item>
    </ion-list>
    <div>
      <button ion-button block (click)="done()" [disabled]="!isReadyToSave">
        {{ 'DONE_BUTTON' | translate }}
      </button>
    </div>
  </form>
</ion-content>
